/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html{ 
  height:100%;
}

body{ 
  min-height:100%; 
  padding:0;
   margin:0; 
   position:relative;
}

body::after{ 
  content:''; 
  display:block; 
  height:40px; 
}

footer { 
  
  position:absolute; 
  bottom:0; 
  width:100%; 
  height:40px; 
}

.img_container img {
    width: 100%;
}

@media (min-width: 400px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 4;
    }
}