
.container-waifus {
    margin: 0 auto;
    max-width: 1920px;
    padding: 60px;
    padding-top: 0px;
}

.search-bar, .search-bar:focus {
    border-color: rgba(0, 0, 0, 1);
}

.color-main, .modal-body, .modal-footer, .modal-content, .modal-header, .search-bar, .search-bar:focus {
    background-color: rgba(43, 43, 43, 1);
    color: rgb(230, 230, 230);
}

    .color-primary {
        background-color: rgba(150, 13, 46, 0.70);
        color: rgb(230, 230, 230);
    }

    .color-secondary {
        background-color: rgba(88, 30, 101, 0.70);
        color: rgb(230, 230, 230);
    }

.modal-content {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    background-color: transparent;
}

.modal-body {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-bottomright: 6px;
}

.modal-header {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-bottom: 0px;
}

.t1, .card-t1:hover {
    background-color: rgb(150, 13, 46);
}

.t2, .card-t2:hover {
    background-color: rgb(81, 42, 92);
}

.t3, .card-t3:hover {
    background-color: rgb(23, 66, 100);
}

.t0, .card-t0:hover {
    background-color: rgb(255, 170, 22);
    color: rgb(30, 30, 30);
}


.search-bar {
    max-width: 1110px;
}

.text-muted2 {
    color: rgba(200, 200, 200, 0.90);
}

.card {
    background-color: rgba(0, 0, 0, 0.50);
    color: rgb(230, 230, 230);
    transition: background-color 0.2s ease;
}

    .card:hover {
        cursor: pointer;
    }

.waifu-image {
    position: relative;
}

    .waifu-image img {
        width: 100%;
        height: auto;
    }

.waifu-image-btn {
    position: absolute;
    bottom: 8px;
    right: 8px;
    background-color: rgba(59, 59, 59, 0.1);
    color: rgba(230, 230, 230, 0.2);
    padding: 0px 4px;
}

    .waifu-image-btn:hover {
        background-color: rgba(59, 59, 59, 0.6);
        color: rgb(230, 230, 230);
    }

@media (min-width: 400px) {
    .card-columns {
        column-count: 2;
    }
}

@media (max-width: 767px) {
    .container-waifus {
        padding: 20px;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 4;
    }
}

@media (min-width: 1600px) {
    .card-columns {
        column-count: 5;
    }
}
